* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: auto;
}

.container .header .logo img {
    width: 80px;
}

.header {
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
}

.links {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:right;
}

.links ul {
    text-align: end;
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 10%;
    align-items: center;
}

.links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
    font-size:1.2em;
}

.links ul li a:hover {
    color: orange;
}

.social-icons-container {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.social-icon-box {
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 20px;
}

.social-icons-container a {
    color: black;
    text-decoration: none;
}
.social-icon-box:hover,
.social-icons-container a:hover {
    color: orange;
    border: 1px solid orange; 
}

.social-icon-box i {
    font-size: 1.5em;
    display: grid;
    place-content: center;
}

.fa-facebook-f {
    padding: 5px 10px;
}

.fa-whatsapp {
    padding: 5px 7px;
}

.big-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90dvh;
}

.image-section {
    background: url('./assets/images/heroimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.big-img-btn {
    width: fit-content;
    font-size: 1.3em;
    padding: 15px 80px;
    color: white;
    font-weight: 600;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgb(136, 134, 134) 100%);
    position: relative;
    top: 80%;
    left: 2%;
}

.sub-section{
display: grid;
padding: 30px 50px;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
background-color: #B2B2B2;
text-align: center;
}
.txt-box{
    padding: 0px 20px;
}
.card-heading{
    font-size: 2rem;
    color: black;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cards-section{
    padding: 50px 100px;
    background-color: #DAD6DF;
}
.cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
.card-1 img,
.card-2 img,
.card-3 img{
    width: 100%;
}
.card-1,
.card-2,
.card-3{
    display: block;
    width: 30%;
}

.cards-container h4{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px;
}

button{
    padding: 15px 50px;
    cursor: pointer;
    background-color: black;
    color: white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
button:active{
    border: none;
}
button:hover{
    background-color: #2c2b2b;
}
button:active{
    background-color: #171717;
}
.card-1{
    text-align: left;
}
.card-2{
    text-align: center;
}
.card-3{
    text-align: right;
}

.card-1 p{
    padding-right: 20px;
}
.card-2 p{
    text-align: center;
    padding:0px 20px;
}
.card-3 p{
    padding-left: 20px;
}

.mobile-nav-bar{
    display: none;
}
.mobile-nav-links{
    display: none;
}

/* For mobile phone */
@media only screen and (max-device-width: 599px) {
.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
.links{
    display: none;
}
.social-icon-box{
    display: block  ;
}
.mobile-nav-bar{
display: block;
padding-right: 10px;
}
.mobile-nav-bar-container{
    border: 1px solid black;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.mobile-nav-bar-container i{
    font-size: 1rem;
}
.mobile-nav-links{
    display: block;
    height: 0;
    visibility: visible;
    width: 100%;
    padding: 2px;
    transition: all .3s ease;
    background-color:white;
}
.mobile-nav-links li{
    list-style: none;
    padding: 10px 0px;
}
.mobile-nav-links li a{
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}
.mobile-nav-links li a:hover{
    color: orange;
}
.show-menu{
    display: block;
}
.active-menu{
    visibility: visible;
    height: 100%;
    padding: 20px;
    text-align: left;
    transition: all .3s ease;
}
.sub-section{
    display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 40px 20px;
}
.cards-section{
    padding: 10px 20px;
}
.cards-container{
    display: flex;
    flex-direction: column;
}
.card-1, 
.card-2,
.card-3{
    width: 100%;
    text-align: center;
}
.big-img-btn{
position: absolute;
left: 0;
width: 100%;
text-align: center;
top: 92%;
}
.big-image{
    grid-template-rows: 70dvh;
}
.image-section {
 position: relative;
}
.social-icons-container{
gap: 10px;
}
}

/* For Tablet phone */
@media only screen and (min-device-width:600px) and (max-device-width: 1080px) {
    .header{
        padding: 0px 10px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    .logo{
        width: fit-content;
    }
    .links{
        justify-content: center;
        padding: 0px;
        padding-right: 30px;
    }
    .links ul{
        margin-right: 0;
        gap: 20px;
    }
    .links ul li a{
        font-size: .9rem;
        text-wrap: nowrap;
    }
    .big-img-btn{
        top:85%;
        padding: 20px 100px;
    }
}